* {
  margin: 0;
  padding: 0;
}

header {
  margin: 1px;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: rgb(35, 162, 179);
  color: white;
  font-size: 15px;
  font-family: 'Cairo', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 30px;
}

article {
  max-width: 850px;
  margin: auto;
  padding-top: 70px;
}
